<a href="https://colab.research.google.com/github/chacha86/bigData1/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%88%98%EC%97%85_%EB%82%B4%EC%9A%A9_%EC%A0%95%EB%A6%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# 이름 리스트
name = [ "Braund, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnell, Miss. Elizabeth"]

# 나이 리스트
age = [22, 35, 58]

# 성별 리스트
sex = ["male", "male", "female"]

# 위 리스트를 값으로 가지는 딕셔너리
data = { "Name": name,
    "Age": age,
    "Sex": sex,
}

# 행렬 == 데이터프레임
# 데이터 프레임 만들기
df = pd.DataFrame(data)


# 하나의 열 == 시리즈
df["Age"].max()

ages = df["Age"]

# 시리즈 만들기
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'], name='test')


# 데이터프레임 주요 속성 정보

df.columns # 전체 컬럼 리스트

df.index # 전체 인덱스 리스트

df.index.values # 전체 인덱스 값

df.values # 데이터프레임 전체 배열

df.shape # 행렬의 모양

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
# 시리즈, 데이터프레임 다뤄보기

# 단일 컬럼 선택 -> 시리즈
name = df['Name']
type(name)

# 다중 컬럼 선택 -> 데이터프레임
df[['Name', 'Age']]

# 단일 컬럼 선택 -> 데이터프레임
df[['Name']]

# 기본 정보
df.info()

# 기본 통계 정보
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [ ]:
import numpy as np
# 상호변환
# 데이터프레임 > 딕셔너리, 리스트, ndArray
# 딕셔너리, 리스트, ndArray > 데이터 프레임


# python list > DataFrame
list1 = [1,2,3,4] # 파이썬 리스트
arr = np.array([1,2,3,4])
df1 = pd.DataFrame(list1, columns=['column1'], index=['a', 'b', 'c', 'd'])

list2 = [[1,2,3,4],
         [5,6,7,8]]

# ndArray > DataFrame
arr2 = np.array(list2)
df2 = pd.DataFrame(arr2, columns=['col1', 'col2', 'col3', 'col4'], index=['one', 'two'])

# DataFrame > ndArray
# DataFrame > ndArray > python lit
df1.values
df1.values.tolist() #ndArray > python list

# DataFrame > dictionary
df2.to_dict()

In [ ]:
# ndArray 인덱싱
arr = np.arange(1, 13)

arr2 = arr.reshape([3,-1])
arr2[1:, 1:3]


# 데이터프레임 인덱싱 - loc, iloc를 이용하면 ndArray와 비슷하게 접근 가능.
# loc - 인덱스명, 컬럼명
df.loc[0] # 행
df.loc[0, 'Age' : 'Sex']
df2 = df.loc[:0, 'Name' : 'Sex']

# iloc - 인덱스 순서, 컬럼 순서 = ndArray인덱싱과 동일
df.iloc[0:2, 0:3:2]

# 조건 인덱싱 - ndArray와 사용법 거의 동일

df[df["Age"] >= 30]
df["Sex"] == 'female'
df[df["Sex"] == 'female']

# 여자이면서 30세 이상 -> and == &
filter_idx = (df["Sex"] == 'female') & (df["Age"] >= 30)

df[filter_idx]


# 남자이거나 50세 미만 -> or == |
filter_idx2 = (df["Sex"] == 'male') | (df["Age"] < 50)
df[filter_idx2]

In [ ]:
# 데이터 조작

df = pd.DataFrame(data)

# inplace
# api를 사용하면 어떤 연산적용. 적용이 원본에 되느냐, 원본은 유지하고 복사본이 반환되느냐
# False - 복사 반환
# True - 원본 적용

# 컬럼 값을 찾아서 수정. 
df['Sex'].replace({'male' : '남', 'female' : '여'}, inplace=True)

# 컬럼 값의 문자열 수정.
# str.replace 문자열 치환
# str.upper 문자열 대문자
# str.substr .... 문자열 자르기 등등
df2 = df['Name'].str.replace('.', '_').str.replace(',', '_').str.upper()


# 컬럼을 새로 추가하기
korean = np.random.randint(60, 100, 3)
math = np.random.randint(60, 100, 3)
english = np.random.randint(60, 100, 3)

# 새로운 컬럼명을 선택하고 값을 대입. 단일값은 모든 행에 단일값 적용. 리스트(ndArray)는 각 인덱스에 맞는 값으로 세팅
df['국어'] = korean
df['수학'] = math
df['영어'] = english


df['총합'] = 100
df2 = df.loc[:, '국어' : '영어']

# 특정 행렬이나 컬럼을 대상으로 연산을 수행할 수 있음
# sum, mean, max, min ...
df["총합"] = df2.sum(axis=1) # ndArray처럼 axis를 정해 세로, 가로 방향으로 연산 수행 가능
df

# 컬럼/인덱스 삭제 
df.drop('수학', axis = 1, inplace=True) # 수학이라는 이름의 컬럼을 삭제
df.drop(['국어', '영어'], axis=1, inplace=True) # 국어,영어 두개의 컬럼을 삭제

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

                       Name  Age Sex   총합
0   Braund, Mr. Owen Harris   22   남  238
1  Allen, Mr. William Henry   35   남  259
2  Bonnell, Miss. Elizabeth   58   여  266