<a href="https://colab.research.google.com/github/chacha86/pythonai/blob/main/3_%EC%9D%B8%EB%8D%B1%EC%8A%A4(index).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# 3. 인덱스(index) - 행(row)를 식별하는 값

import pandas as pd

data = {
    "학번" : [1, 2, 3],
    "이름" : ["홍길동", "황진이", "이순신"],
    "학교" : ["서울대", "연세대", "고려대"], 
}

df = pd.DataFrame(data)
df

   학번   이름   학교
0   1  홍길동  서울대
1   2  황진이  연세대
2   3  이순신  고려대

In [9]:
# 3.1 index를 바꿔보기
df.index = ['1번', '2번', '3번']
df.index.values[0] = 'a'
df.index.values[1] = 'b'

df

    학번   이름   학교
a    1  홍길동  서울대
b    2  황진이  연세대
3번   3  이순신  고려대

In [21]:

# 3.2 기존 컬럼으로 인덱스를 설정
df.index = df['학번']

df

    학번   이름   학교
학번
1    1  홍길동  서울대
2    2  황진이  연세대
3    3  이순신  고려대

In [24]:
# 3.3 인덱스 초기화하기
#df.reset_index()

df

    학번   이름   학교
학번
1    1  홍길동  서울대
2    2  황진이  연세대
3    3  이순신  고려대

In [ ]:
data = {
    "학번" : [1, 2, 3],
    "이름" : ["홍길동", "황진이", "이순신"],
    "학교" : ["서울대", "연세대", "고려대"], 
}

df = pd.DataFrame(data)
# 인덱스 이름 세팅
df.index.name = '학번'

df

df.reset_index()

In [42]:
# 3.4 인덱스 초기화 -> 인덱스컬럼을 삭제하는 옵션
df3 = df.reset_index(drop=True, inplace=True)

In [43]:
# 판다스에서 데이터프레임, 시리즈 원본을 보호하려는 성향이 있음.
# 원본에 변경을 적용하지 않고 복사본에 적용해서 복사본을 반환.
# inplace 옵션을 True로 주면 바로 원본에 적용.
df
df3

   학번   이름   학교
0   1  홍길동  서울대
1   2  황진이  연세대
2   3  이순신  고려대